<!DOCTYPE html>

     <!-- My footer class -->
      <div class="myf">
         <!-- FOOTER -->
         <div class="bg-color">
            <footer>
               <div class="footer-corner">
                  <div class="container animatedParent">
                     <div class="row animated fadeInDownShort">
                        <div class="col-md-4">
                           <!-- COLUMN 1 -->
                           <h3 class="sr-only">ABOUT US</h3>
                           <i class="fa fa-envira fa-2x" aria-hidden="true"></i> <span class="lead">Lucieda.</span><br><br>
                           <!--<p align="justify">Lucieda est une platerforme ouverte à tou(te)s vous permettant d'accéder aux différents sujets d'examens en format numériques.
                            Un forum est également disponible vous permettant d'échanger sur les différents sujets.</p>-->
                           <br>
                           <address class="margin-bottom-30px">
                              <ul class="list-unstyled">
                                 <li>Rue du Congo <br/>
                                    Pointe-Noire, CG xxxxx
                                 </li>
                                 <li>Phone: (+242) 06 - xxx - xx - xx</li>
                                 <li>Email: acceuil@lucieda.cg</li>
                              </ul>
                           </address>
                           <!-- END COLUMN 1 --> 
                        </div>
                        <div class="col-md-4">
                           <!-- COLUMN 2 -->
              
                           <!-- END COLUMN 2 --> 
                        </div>
                        <div class="col-md-4">
                           <!-- COLUMN 3 -->
                           <div class="social-connect">
                              <h3 class="footer-heading">Suivez-nous sur nos Réseaux</h3>
                              <ul class="list-inline social-icons">
                                 <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                 <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                 <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                 <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                              </ul> 
                           </div>
                           <!-- END COLUMN 3 --> 
                        </div>
                     </div>
                  </div>
               </div>
               <!-- COPYRIGHT -->
               <div class="text-center copyright"> &copy;2019 Lucieda. All Rights Reserved. </div>
               <!-- END COPYRIGHT --> 
            </footer>
         </div>
      </div>
      <!-- END FOOTER --> 

